.navBar {
  padding: 10px 20px;
  justify-content: space-between;
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 10;

  .navLeft {
    padding: 0 8px;

    .menuIcon {
      width: 22px;
      height: auto;
      margin-right: 15px;
      cursor: pointer;
    }

    .logo {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 18px;
      font-weight: bold;
      color: #222;

      svg {
        color: #d30303;
        width: 40px;
        height: auto;
      }
    }
  }

  .navMiddle {
    .searchBox {
      border: 1px solid #ccc;
      border-radius: 15px;
      padding: 8px 16px;

      input {
        border: none;
        outline: none;
        background: transparent;
        margin-right: 5px;
        width: 200px;
        font-size: 14px;
      }

      svg {
        width: 20px;
        height: auto;
        cursor: pointer;
      }

      @media (min-width: 784px) {
        input {
          width: 300px;
        }
      }

      @media (min-width: 1200px) {
        input {
          width: 400px;
        }
      }
    }
  }

  .navRight {
    padding: 0 8px;

    svg {
      width: 25px;
      height: auto;
      margin-left: 10px;
      cursor: pointer;

      &:first-child {
        color: #d30303;
      }
    }

    .userIcon {
      width: 35px;
      border-radius: 40%;
      margin-left: 10px;
      cursor: pointer;
    }

    @media (min-width: 768px) {
      svg,
      .userIcon {
        margin-left: 15px;
      }
    }
  }
}
